#content {
    width: 50%;
    margin: 20px auto;
    border: 2px solid #cbcbcb;
}

form {
    width: 50%;
    margin: 20px auto;
}

form div {
    margin-top: 5px;
}

#img-div {
    width: 80%;
    padding: 5px;
    margi: 15px auto;
    border: 2px solid #cbcbcb;
}

#img-div:after {
    content: "";
    display: block;
    clear: both;
}

img {
    float: left;
    margin: 5px;
    width: 300px;
    height: 140px;
}